*{
    margin:0;
    padding: 0%;
    font-family: sans-serif;
}

.boxes{
    margin-top: 200px;
    margin-left: 60px;

}
.boxes h1{
    text-align: center;
    margin-top: 20px

}
.boxes p{
    padding: 40px;
}
.box1{
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background-color: teal;
    float: left;
    margin: 15px;
    box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.2);
}
.box2{
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background-color:rosybrown;
    float: left;
    margin: 15px;
    box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.2);
}
.box3{
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background-color: rgb(167, 178, 189);
    float: left;
    margin: 15px;
    box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.2);
}
.box4{
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background-color: yellowgreen;
    float: left;
    margin: 15px;
    box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.2);
}
.box5{
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background-color:burlywood;
    float: left;
    margin: 15px;
    box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.2);
}
.box6{
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background-color: salmon;
    float: left;
    margin: 15px;
    transition: 1s;
    box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.2);
}

    
